<div class="text-center">
  <h3><%= @query %></h3>
  <p>- You</p>
</div>

<div class="text-center">
  <h3><%= @answer %></h3>
  <p>- Your coach</p>
</div>

<div class="text-center">
<%= link_to "Ask a new question", ask_path %>
</div>
